<%= form_for(note) do |f| %>
  <div class="col-md-12">
    <% if note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title, "#{I18n.t("notes.form.title")}" %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :course, "#{I18n.t("notes.form.course")}" %><br />
      <%= f.collection_select :course_id, current_user.courses, :id, :full_name,  {:include_blank => "#{I18n.t("notes.form.select_a_course")}"}, {class: "form-control"} %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :body, "#{I18n.t("notes.form.body")}" %>
      <%= f.text_area :body, :class => "form-control", :required => true, :data => { provider: 'summernote'} %>
    </div>

  </div>

  <div class="col-md-6">
    <%= link_to notes_path, class: "btn btn-md btn-default" do %><i class="fa fa-backward"></i><%= "#{I18n.t("notes.form.back")}" %><% end %>
  </div>
  <div class="col-md-6">
    <div class="actions pull-right">
      <%= f.submit "#{I18n.t("notes.form.save")}" , :class => "btn btn-md btn-primary" %>
    </div>
  </div>
<% end %>
