<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= page_entries_info @notes, entry_name: 'item' %>
      </div>
      <div class="pull-right">
        <%= link_to new_note_path, class: 'btn btn-primary original analytics-click-newNote', data: {toggle: "tooltip", placement: "bottom"}, title: "#{I18n.t("notes.new_note")}" do %><span class="glyphicon glyphicon-plus"></span><% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-2">
    <div class='pull-left'>
      <%= link_to download_notes_path(id: '', format: :pdf), data: {toggle: "tooltip", placement: "bottom"}, target: '_blank', class: "btn btn-default analytics-click-downloadAllNotes" do %><i class="fa fa-download"> <span><%= I18n.t('notes.download_all')%></span></i><% end %>
    </div>
  </div>

  <div class="col-md-4">
    <%= form_tag notes_path, :method => 'get', class: 'input-group'  do %>
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "#{I18n.t("notes.search_for")}" %>
    <span class="input-group-btn">
      <%= button_tag(type: "submit", class: "btn btn-info original analytics-click-searchNote") do %>
      <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </span>
    <% end %>
    
  </div>

  <br/>
  <br/>
  <br/>

  <div class="col-md-8 col-md-offset-2">
    <% @notes.each do |note| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= note.id %>">
            <%= note.title.truncate(33, separator: ' ') %> <span class="note-date"><%= '-' + note.created_at.strftime("%m/%d/%Y") %> </span><span class="note-course"><%= ' - ' +  note.course.full_name.truncate(40, separator: ' ') if note.course.present? %></span>
          </a>

          <div class="pull-right">
            <% note_course_id = note.course.present? ? note.course.id : nil %>
            <%= link_to edit_note_path(note), data: {toggle: "tooltip", placement: "bottom"}, title: "#{I18n.t("notes.edit")}", class: "analytics-click-editNote", 'data-course-id': note_course_id do %><i class="fa fa-pencil"></i><% end %>
            <%= link_to download_notes_path(id: note.id, format: :pdf), data: {toggle: "tooltip", placement: "bottom"}, title: "Download note", target: '_blank', class: "analytics-click-downloadNote", 'data-course-id': note_course_id do %><i class="fa fa-download"></i><% end %>                        
            <%= link_to note, method: :delete, data: {toggle: "tooltip", placement: "bottom", confirm: "#{I18n.t("notes.are_you_sure")}"}, title: "#{I18n.t("notes.delete")}", class: "analytics-click-deleteNote", 'data-course-id': note_course_id do %><i class="fa fa-trash"></i><% end %>
          </div>
        </h4>
      </div>
      <div id="collapse<%= note.id %>" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= note.body.html_safe %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="pull-right">                              
    <%= paginate @notes, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>
