<!DOCTYPE html>
<html>
<head>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <!-- <%= wicked_pdf_stylesheet_link_tag "notes" %> -->
</head>
<style>
    body {
        background-color: white !important;
    }
    html {
        background-color: white !important;
    }
</style>
<body>

<div class="col-md-8 col-md-offset-2 notes-pdf">
    <% @notes.each do |note| %>
    <div class="panel panel-default notes-pdf">
      <div class="panel-heading notes-pdf">
        <h4 class="panel-title">
          <p data-toggle="collapse" data-parent="#accordion" href="#collapse<%= note.id %>">
            <%= note.title.truncate(33, separator: ' ') %> <span class="note-date"><%= '-' + note.created_at.strftime("%m/%d/%Y") %> </span><span class="note-course"><%= ' - ' +  note.course.full_name.truncate(40, separator: ' ') if note.course.present? %></span>
          </p>

        </h4>
      </div>
      <div id="collapse<%= note.id %>" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= note.body.html_safe %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</body>
</html>
