<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="authform">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :role => 'form', :class => 'sign-in-form'} ) do |f| %>
      <%= devise_error_messages! %>
      <div class="logo-form"></div>

      <div class="form-group has-feedback">
        <%= f.text_field :name, autofocus: true, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.name') %>
        <span class="fa fa-envelope-o form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.email') %>
        <span class="fa fa-envelope-o form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.country_select :country, ['US'], {}, {:class => "form-control position-holder poppins-font"} %>
        <span class="fa fa-globe form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.select :gender, User::GENDER_TYPES.keys.map{|key| [I18n.t('login.gender.' + User::GENDER_TYPES[key]), key] }, {}, {class: 'form-control position-holder poppins-font'} %>
        <span class="fa fa-venus-mars form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.select :level_education, User::EDUCATION_LEVELS.keys.map{|key| [I18n.t('login.education_levels.' + User::EDUCATION_LEVELS[key]), key] }, {}, {class: 'form-control position-holder poppins-font'} %>
        <span class="fa fa-graduation-cap form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.password') %>
        <span class="fa fa-lock form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.password_confirmation') %>
        <span class="fa fa-lock form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.check_box :agreement_accepted, style: 'margin-right:10px;' %>
        <%= I18n.t('login.agreement_msg') %> <%= link_to I18n.t('login.agreement_link_placeholder'), asset_path("agreement.pdf"), target: :_blank %>.
      </div>

      <div class="form-group">
        <%= f.submit I18n.t('login.sign_up'), :class => 'btn btn-md btn-block blue-button' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
