<div class="row">
  <div class="spacing-links"></div>
  <%- if controller_name != 'sessions' %>
    <div class="center-text-elearn txt12">
      <%= I18n.t('login.already_signed_up_msg') %> <a class="login-help"><%= link_to I18n.t('login.log_in'), new_session_path(resource_name), class: 'login-link' %></p>
    </div>
  <% end -%>

  <% if devise_mapping.registerable? && controller_name != 'registrations' && action_name == 'new' %>
    <div class="center-text-elearn txt12">
      <a class="login-help"> Don't have an a account? <%= link_to 'Sign up in seconds', new_registration_path(resource_name), class: 'login-link'  %></p>
    </div>
  <% end %>

  <%- if devise_mapping.recoverable? %>
    <div class="center-text-elearn txt12">
      <a class="login-help"> <%= link_to I18n.t('login.forgot_password_msg'), new_password_path(resource_name), class: 'login-link' %></p>
    </div>
  <% end -%>
  <p class="copyright"><%= I18n.t('login.copyright_msg') %></p>
</div>


<!--
Note : Uncomment if you are going to use in the app

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>

-->
