<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :role => 'form',:class => 'sign-in-form'}) do |f| %>
      <h2 class="title elearn-title"> Change your password</h2>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autofocus: true, autocomplete: 'off',class: 'form-control position-holder poppins-font', placeholder: "New password" %>
        <span class="fa fa-lock form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control position-holder poppins-font', placeholder: "Confirm new password" %>
        <span class="fa fa-lock form-control-feedback position-icon"></span>
      </div>

      <%= f.submit 'Change my Password', :class => 'btn btn-md btn-block blue-button' %>
    <% end %>
  </div>
</div>
