<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form',:class => 'sign-in-form'}) do |f| %>
      <h2 class="title elearn-title"> Forgot your password?</h2>

      <p class="left-text-elearn txt12">We'll send password reset instructions.</p>

      <%= devise_error_messages! %>

      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: 'form-control position-holder poppins-font', placeholder: "Email"%>
        <span class="fa fa-envelope-o form-control-feedback position-icon"></span>
      </div>

      <%= f.submit 'Reset Password', :class => 'btn btn-md btn-block blue-button' %>
      <br>
      <%= link_to new_user_session_path, class: "btn btn-md btn-default" do %><i class="fa fa-backward"></i><%= " #{I18n.t("login.log_in")}" %><% end %>
    <% end %>
  </div>
</div>
