<table class="table">
  <thead>
    <tr>
      <th>URL</th>
      <th>Inicio</th>
      <th>Término</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
    <tr>
      <td><%= url %></td>
    </tr>
    <% end %>
  </tbody>
</table>
