<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :class => 'sign-in-form'}) do |f| %>
      <div class="logo-form"></div>

      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.email') %>
        <span class="fa fa-envelope-o form-control-feedback position-icon"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control position-holder poppins-font', placeholder: I18n.t('login.password')  %>
        <span class="fa fa-lock form-control-feedback position-icon"></span>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label class="left-text-elearn">
            <%= f.check_box :remember_me %> <%= I18n.t('login.remember_me_msg') %>
          </label>
        </div>
      <% end -%>

      <%= f.submit I18n.t('login.log_in'), :class => 'btn btn-md btn-block blue-button' %>

      <div class="row">
        <%- if devise_mapping.registerable? %>
          <p class="login-help">
            <%= I18n.t('login.dont_have_account_msg') %> <%= link_to I18n.t('login.sign_up_in_seconds_msg'), new_registration_path(resource_name), class: 'login-link'  %>
          </p>
        <% end -%>
        <div class="center-text-elearn txt12">
          <%- if devise_mapping.recoverable? %>
            <%= link_to I18n.t('login.forgot_password_msg'), new_password_path(resource_name), class: 'login-link' %>
          <% end -%>
        </div>
        <p class="copyright"><%= I18n.t('login.copyright_msg') %></p>
      </div>
    <% end %>
  </div>
</div>
