<div class="row">
  <div class="col-xs-12">
    <%= dashboard_selector %>
  </div>
</div>

<div class="row">
  <div id="section-container">
    <div class="col-xs-12">
      <h4 class="section-title">
        <%= I18n.t('section_titles.course_global_efficiency') %>
        <%= info_message(I18n.t('graphs.tooltips.efficiency_global')) %>                                               
      </h4>
      <hr class="section-title-underline">
    </div>

    <div class="col-xs-12" >
      <div class="chart-container well" style = "overflow-x:scroll; display:flex;" >
        <% @resources.each do |r| %>

        <div class="col-xs-6 col-lg-3" style="flex: 0 0 25%">
          <h4><%= I18n.t("graphs.resourceType.#{r[:name]}") %></h4>

          <table class="table borderless" style="border-left: 2px solid #d4e3e8;">
            <tr>
              <td><b><%= I18n.t('section_titles.time_required') %></b></td>
              <td class="kpi-text"><%= r[:time_required] %> <%= I18n.t('datetime.prompts.hours') %></td>
            </tr>
            <tr>
              <td><b><%= I18n.t('section_titles.time_invested.title') %></b></td>
              <td class="kpi-text"></td>
            </tr>
            <tr>
              <td><div class="margined-left"><%= I18n.t('section_titles.time_invested.you') %></div></td>
              <td class="kpi-text"><%= r[:time_invested] %> <%= I18n.t('datetime.prompts.hours') %></td>
            </tr>
            <tr>
              <td><div class="margined-left"><%= I18n.t('section_titles.time_invested.student_completed') %></div></td>
              <td class="kpi-text"><%= r[:completers_time] %> <%= I18n.t('datetime.prompts.hours') %></td>
            </tr>
            <tr>
              <td><div class="margined-left"><%= I18n.t('section_titles.time_invested.student_not_completed') %></div></td>
              <td class="kpi-text"><%= r[:not_completers_time] %> <%= I18n.t('datetime.prompts.hours') %></td>
            </tr>

          </table>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12">
      <span id='EE-sequence'></span>
    </div>

    <div class="col-xs-12 col-lg-4" style="margin-top:20px;">
      <div class="chart-container well">
        <h3 class="chart-title"> 
          <%= I18n.t('graphs.ee.titles.efficiency_by_activity_type') %>
          <%= info_message(I18n.t('graphs.tooltips.efficiency_act_type')) %>                                       
        </h3>        
          <span id='started-activities' class="elearn-chart"></span>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8" style="margin-top:20px;">
      <div class="row">
        <div class="col-md-12">
          <div class="chart-container well">
            <h3 class="chart-title"> 
              <%= I18n.t('graphs.ee.titles.efficiency_by_day_of_week') %> 
              <%= info_message(I18n.t('graphs.tooltips.efficiency_day_week')) %>                             
            </h3>
            <span id="efficiency-by-day" class="elearn-chart"></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="chart-container well">
            <h3 class="chart-title">
               <%= I18n.t('graphs.ee.titles.efficiency_by_hour_of_day') %> 
               <%= info_message(I18n.t('graphs.tooltips.efficiency_hour_day')) %>               
            </h3>
            <span id="efficiency-by-hour" class="elearn-chart"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
