<div class="row">
  <div class="col-xs-12">
    <%= dashboard_selector %>
  </div>
</div>

<div class="row">
  <div class="section-container">
    <div class="col-xs-12">
      <h4 class="section-title">
        <%= I18n.t('section_titles.course_global_engagement_performance') %>
        <%= info_message(I18n.t('graphs.tooltips.global_engagement_section_info')) %>
      </h4>
      <hr class="section-title-underline">
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12">
        <div class="row">
          <div class="chart-container well">

            <table class="table table-condensed top-kpis">
              <thead>
                <tr>
                  <th></th>
                  <th><%= I18n.t('pronouns.You') %></th>
                  <th><%= I18n.t('graphs.general_estadistic.completers') %></th>
                  <th><%= I18n.t('graphs.general_estadistic.no_completers') %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="no-left-padding"><%= I18n.t('graphs.total_time_invested') %></th>
                  <td><%= @user_time_in_course %> <%= I18n.t('datetime.prompts.hours') %> </td>
                  <td><%= @completers_time_in_course %> <%= I18n.t('datetime.prompts.hours') %></td>
                  <td><%= @no_completers_time_in_course %> <%= I18n.t('datetime.prompts.hours') %></td>
                </tr>
                <tr>
                  <th class="no-left-padding"><%= I18n.t('graphs.study_frequency') %></th>
                  <td><%= @user_study_frequency %> <%= I18n.t('datetime.prompts.hours') %></td>
                  <td><%= @completers_study_frequency %> </td>
                  <td><%= @no_completers_study_frequency %> </td>
                </tr>
              </tbody>
            </table>

            <br>
            <span id="course-progress"></span>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <div class="chart-container well">
        <div class="col-xs-6">
          <h3 class="chart-title"> 
            <%= I18n.t('graphs.time_use_over_course') %>
            <%= info_message(I18n.t('graphs.tooltips.time_use_over_course')) %>                                        
          </h3>
        </div>
        <div class="col-xs-6">
          <div class="btn-group pull-right" style="margin-top:10px;">
            <% @temporal_options_time_use.each_with_index do |lab,i| %>
              <button type="button" class="btn btn-sm btn-default time-use-btn analytics-click-courseTimeUseTemporalFilter<%= i %> <%= 'active' if i == 2 %>" data-temporal-filter="<%= ['last week', 'last month', 'all'][i] %>"><%= I18n.t("buttons.time_use_over_course.#{lab}") %></button>
            <% end %>
          </div>
        </div>
        <span id='course-time' class="elearn-chart"></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section-container">
    <div class="col-xs-12">
      <h4 class="section-title"><%= I18n.t('section_titles.course_details_engagemente_performance') %></h4>
      <hr class="section-title-underline">
    </div>

    <div class="col-xs-12">

      <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-7">
          <span style="font-size:15px; font-family: 'Poppins';">
            <%= I18n.t('graphs.weeks_on_course') %> 
            <%= info_message(I18n.t('graphs.tooltips.weeks_on_course')) %> 
           </span>
          <div class="btn-group" style="padding-left: 20px;">
            <% (1..@course_duration + Course::OFF_SET).each do |week| %>
            <button type="button" class="btn btn-sm btn-<%= week > @course.duration ? 'danger' : 'primary'%> week-btn <%= 'active' if week == @active_week %> <%= 'disabled' if @active_week < week %> " value="<%= week %>"><%= week %></button>
            <% end %>
          </div>
          <button type="button" class="btn btn-sm btn-primary week-btn analytics-click-sessionsViewAll" value="view all" style="margin-left:10px;"><%= I18n.t('buttons.view_all') %></button>
        </div>

        <div class="col-xs-12 col-sm-5">
          <span id='EP-sequence' class="pull-right"></span>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="chart-container well">
            <div class="col-xs-6">
              <h3 class="chart-title">
                <%= I18n.t('graphs.study_sessions_this_week') %>
                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" data-html="true" data-container="body"
                title="<b><%= I18n.t('graphs.tooltips.week_detail_info.header') %></b><br/><%= I18n.t('graphs.tooltips.week_detail_info.text') %>" >
                </i>
              </h3>
            </div>

            <span id='sessions-chart' class="elearn-chart"></span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <span id='total-time' width="100%"></span>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="chart-container well">
            <h3 class="chart-title"> 
              <%= I18n.t('graphs.ep.titles.your_time_use') %> 
              <%= info_message(I18n.t('graphs.tooltips.engagement_by_time_use')) %>                            
              
            </h3>
            <span id='time-use-chart' class="elearn-chart"></span>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="chart-container well">
            <h3 class="chart-title"> 
              <%= I18n.t('graphs.ep.titles.your_engagement_by_activities') %>
              <%= info_message(I18n.t('graphs.tooltips.engagement_by_num_act')) %>                            
            </h3>
            <span id='engagement-by-number-of-activities' class="elearn-chart"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="chart-container well">
            <h3 class="chart-title"> 
              <%= I18n.t('graphs.ep.titles.your_engagement_by_activity_type') %>
              <%= info_message(I18n.t('graphs.tooltips.engagement_by_act_type')) %>              
            </h3>
            <div class="pull-right">
              <!-- <input id="comparation" type="checkbox" data-toggle="toggle" data-size="small" data-width="150" data-on="Comparations<br>enabled" data-off="Comparations<br>disabled"> -->
              <input id="comparation" type="checkbox" data-toggle="toggle" data-size="small" data-width="150" data-on=<%= I18n.t("buttons.engagement_by_activity_type.enabled")%> data-off=<%= I18n.t("buttons.engagement_by_activity_type.disabled")%> >
            </div>
            <span id='engagement-by-activity-type' class="elearn-chart"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
