<div class="row">
  <div class="col-xs-12">
    <% if @courses.present? %>
    <div class="col-xs-12 col-sm-12 col-lg-6">
      <% @courses.each do |c| %>
        <div class="course-container well clearfix">
          <h4><%= c.full_name %></h4>
          <div class="course-details">
            <table class="table text-left borderless">
              <tr>
                <th>
                  <%= I18n.t('courses.lms') %>:
                </th>
                <td>
                  <%= link_to c.learning_management_system.name, c.learning_management_system.root, target: :_blank %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= I18n.t('courses.normal_duration') %>:
                </th>
                <td>
                  <%= c.duration.to_s + ' ' + I18n.t('week').pluralize(c.duration) %>
                </td>
              </tr>
            </table>
          </div>
          
          <div class="btn-group pull-right">
            <%= link_to(course_engagement_performance_path(c.id), class: "btn btn-primary") do %>
              <span class="fa fa-bar-chart"></span> <%= I18n.t('courses.watch_progress') %>
            <% end %>

            <%= link_to(course_delete_enrollments_path(c), class: "btn btn-danger", data: { toggle: "tooltip", placement: "top", confirm: I18n.t('courses.alert_delete') }, title: I18n.t("courses.delete"), method: :post) do %>
              <span class="fa fa-times"></span>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
    <% else %>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="well" style="background: white; border-radius: 3px; border-color: #d4e3e8 !important; margin-top:100px; text-align:center;">
        <h4><%= raw I18n.t("courses.no_course_registered") %></h4>
      </div>
    </div>
    <% end %>
  </div>
</div>