<% unless goal.persisted? %>
  <div class="row">
    <%= render partial:"goals/form" , locals: { goal: goal, course_id: course_id, enrollment_id: enrollment_id,week: week} %>
  </div>
<% else%>
  <%= render partial: "goals/goal", locals:{goal:goal} %>
<% end %>
