
<%= form_for goal, url: goals_path, html: { method: :post }, remote: true do |form| %>
  <%= form.hidden_field :enrollment_id, value: enrollment_id %>
  <%= form.hidden_field :week, value: week %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 padding-0">
    <h4 class="section-title"><%= I18n.t('goals.sections.form') %></h4>
    <hr class="section-title-underline">
  </div>

  <div class="col-xs-12 col-lg-6 padding-0">
    <div class="well chart-container">
      <div class="form-group">
        <label><%= I18n.t("goals.form.define_days",week: week) %></label>
      </div>

      <ul class="list-unstyled" style="margin-left:30px;">
        <% if !goal.details.nil? %>
          <% goal.details.each_with_index do |detail, index| %>
              <li class="">
                <%if index == 0 %>
                  <%= check_box_tag "goal[working_days][#{detail.formated_schedule_date}]", false, data:{validation:"checkbox_group required","validation-qty" => "min1" } %>
                <% else %>
                    <%= check_box_tag "goal[working_days][#{detail.formated_schedule_date}]"%>
                <% end %>
                <%= label_tag "goal[working_days][#{detail.formated_schedule_date}]", detail.title %>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-lg-6 padding-0">
    <div class="well chart-container">

      <div class="form-group">
        <label><%= I18n.t("goals.form.define_objectives", week: week) %> </label>
      </div>

      <div style="margin-left: 30px;">
        <div class="form-group">
          <%= form.label :goal_hours, "#{I18n.t("goals.form.goal_hours")}" %>
          <%= form.number_field :goal_hours, min:0, max: 70, class: "form-control",  placeholder: "#{I18n.t("goals.form.define_hours")}", data:{validation:"required"}  %>
        </div>

        <div class="form-group">
          <%= form.label :goal_videos, "#{I18n.t("goals.form.goal_videos")}" %>
          <%= form.number_field :goal_videos, min:0, max: 50, class: "form-control", placeholder: "#{I18n.t("goals.form.define_videos")}", data:{validation:"required"}  %>
        </div>

        <div class="form-group">
          <%= form.label :goal_evaluations, "#{I18n.t("goals.form.goal_evaluations")}" %>
          <%= form.number_field :goal_evaluations, min: 0, max: 40, class: "form-control", placeholder: "#{I18n.t("goals.form.define_evaluations")}" , data:{validation:"required"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions pull-right">
    <%= form.submit "#{I18n.t("goals.buttons.define_goals")}", class: "btn btn-primary analytics-click-defineGoal", 'data-course-id': course_id %>
  </div>

  <%= render partial:"goals/statistics" , locals: { categorized_kpis: @categorized_kpis} %>
</div>

<% end %>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
    $.validate();
</script>
