
<div class="well chart-container" style="min-height:100px !important;" >
  <h3 class="chart-title"> <%= I18n.t('goals.titles.activities_goals') %> </h3>
  <span id="activities-goal-chart" class="elearn-chart"></span>
</div>

<div class="well chart-container" style="min-height:100px !important;" >
  <h3 class="chart-title"> <%= I18n.t('goals.titles.time_goals') %> </h3>
  <span id="time-goal-chart" class="elearn-chart"></span>
</div>
