<div class="col-xs-12 padding-0">
  <h4 class="section-title"><%= I18n.t('goals.sections.kpis') %></h4>
  <hr class="section-title-underline">
  <div class="well chart-container">
    <% categorized_kpis.each_with_index do |category, index| %>
      <label><%= category[:category] %></label>
      <table class="table table-hover">
        <tbody>
          <% category[:kpis].each do |kpi| %>
            <tr>
              <td colspan="2"><%= kpi[:msg] %></td>
              <th scope="row" class="text-right" style="white-space: nowrap;"><h4><%= kpi[:value] %></h4></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>



