
message_container = $('#notice');
message_container.empty();
message_container.html('<%= escape_javascript( render 'layouts/messages') %>');


var persisted = <%= @goal.persisted? %>;
$('#goals-container').empty();

if(persisted)
{
  $('#goals-container').html('<%= escape_javascript(render partial: "goals/goal", locals:{ goal: @goal } ) %>');
  //console.log(<%= raw @activities_chart_data.to_json %>);
  drawGoalsChart('#activities-goal-chart', 160, <%= raw @activities_chart_data.to_json %>, 'activities');
  drawGoalsChart('#time-goal-chart', 100, <%= raw @time_chart_data.to_json %>, 'hrs');

}else{
  $('#goals-container').html('<%= escape_javascript(render partial: "goals/form", locals:{ goal: @goal, course_id: @course.id, enrollment_id: @enrollment.id, week: @current_week} ) %>');
}
