$('#goals-container').empty();
$('#goals-container').html('<%= escape_javascript(render partial: "goals/goal", locals:{ goal: @goal } ) %>');

drawGoalsChart('#activities-goal-chart', 160, <%= raw @activities_chart_data.to_json %>, 'activities');
drawGoalsChart('#time-goal-chart', 100, <%= raw @time_chart_data.to_json %>, 'hrs');
