<p id="notice">
  <%= notice %>
</p>

<% if @course.present? and @enrollment.present? %>
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 padding-0">
  <div class="row">
    <div class="col-xs-7 col-md-9 col-lg-5">
      <div class="form-group">
        <label><%= I18n.t("goals.course") %></label>
        <%= select_tag "course", options_from_collection_for_select(@courses, "id", "full_name", @course), class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-5 col-md-3 col-lg-2">
      <div class="form-group">
        <label for="exampleInputPassword1"><%= I18n.t("goals.week") %></label>
        <%= select_tag "week", options_from_collection_for_select(@weeks, "week", "title", @current_week), class: "form-control week"  %>
      </div>
    </div>
  </div>

  <div id="goals-container">
    <% unless @goal.persisted? %>
    <%= render partial:"goals/form" , locals: { goal: @goal, course_id: @course.id, enrollment_id: @enrollment.id, week: @current_week } %>
    <% else %>
    <%= render partial: "goals/goal", locals: { goal: @goal, activities_chart_data: @activities_chart_data, time_chart_data: @time_chart_data } %>
    <% end %>
  </div>
</div>

<%else %>
<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="well" style="background: white; border-radius: 3px; border-color: #d4e3e8 !important; margin-top:100px; text-align:center;">
    <h4><%= I18n.t("courses.no_course_registered").html_safe %></h4>
    <% end %>
  </div>
</div>
