$brand-primary: #0095FF;
$brand-success: #0095FF;
$brand-info:#0095FF;
$brand-warning: #CCCC14;
$brand-danger:#FF1D19;


$state-success-text: #FFF;
$state-success-bg:#0095FF;
$state-success-border: #0095FF;
$state-info-text: #FFF;
$state-info-bg:#0095FF;
$state-info-border: #0095FF;
$state-warning-text: #FFF;
$state-warning-bg:#CCCC14;
$state-warning-border: #CCCC14;
$state-danger-text: #FFF;
$state-danger-bg:#FF1D19;
$state-danger-border: #FF1D19;


$well-bg: white;


// @label-default-bg
// @gray-light
// Default label background color
// @label-primary-bg
// @brand-primary
// Primary label background color
// @label-success-bg
// @brand-success
// Success label background color
// @label-info-bg
// @brand-info
// Info label background color
// @label-warning-bg
// @brand-warning
// Warning label background color
// @label-danger-bg
// @brand-danger
// Danger label background color
// @label-color
// #fff
// Default label text color
// @label-link-hover-color



// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body{
  background-color: #354BE7 !important;
}
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

html, main, .container-fluid {
  background-color: #F7F8FA;
}

#navbar, #navbar .dropdown-toggle {
  background-color: black;
}

section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

h1, h2, h3, h4, h5, h6, p, span, div, body, table {
  font-family: 'Poppins' !important;
}

.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}

.fa {
  font-family: 'FontAwesome' !important;
}



// Common styles for charts

.axis {
  font: 11px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  stroke-width: 1px;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
