/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap-toggle
 *= summernote
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";

.page-title{
  float: left;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
}

.tooltip-inner {
  //max-width: 50% !important;
}

.btn-primary, .btn-primary:visited {
  background-color: #1273E1 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active {
  background-color: #0E59AE !important;
}

.btn {border-radius: 3px;} 

// input[type="checkbox"]{
//   -webkit-appearance: none;
// 	background-color: #fafafa;
// 	border: 1px solid #cacece;
// 	padding: 9px;
// 	border-radius: 3px;
// 	display: inline-block;
// 	position: relative;
// }

// input[type="checkbox"]:focus{
//   outline: none;
//   box-shadow: none;
// }

// input[type="checkbox"]:checked{
// 	border: 1px solid #adb8c0;
// 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
// 	color: #3573E7;
// }

// input[type="checkbox"]:checked:after{
//   content: '\2714';
// 	font-size: 14px;
// 	position: absolute;
// 	top: 0px;
// 	left: 3px;
// 	color: #3573E7;
// }

.manage-buttons{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
    right: 45px;
    position: absolute;
    label{
      font-size: 10px;
      font-weight: normal;
    }
    .toggle{
      margin-left: 5px;
      float: right;
    }
}

.elearn-logo {
    color: white;
    font-weight: bold;
    text-align: left;
    /* margin-bottom: 30px; */
    font-family: 'Poppins';
    font-size: 28px;
    line-height: 30px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}


 .alert{
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 350px;
    padding: 20px;
    z-index: 9999;
 }

 .alert .close{

    position: absolute;
    top: 0px;
    right: 5px;
    color: inherit;
 }

.padding-0{
   padding-right:0;
   padding-left:0;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
  img {
    width: 100%;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Top navigation Hide default border to remove 1px line. */

.navbar-fixed-top {
  border: 0;
}

/* Sidebar */
/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: block;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1273e1;
    border-right: 1px solid white;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
}

li.sidebar-item {
  > {
    a {
      padding: 10px 15px;
      color: white;
    }
    a:hover {
      color: #2196F3;
      background-color: #f5f5f5;
    }
    a:focus {
      color: #2196F3;
      background-color: #f5f5f5;
    }
  }
}

div.sidebar-item {
  > {
    li {
      padding: 10px 15px;
      > a {
        color: white;
      }
    }
    li:hover {
      background-color: #f5f5f5;
      > a {
        color: #2196F3;
      }
    }
  }
}

.sidebar-items-container li.sidebar-item {
  margin-left: 15px;
  background-color: #579AE6;
}

li.sidebar-item.active, div.sidebar-item.active > li {
  background-color: white;
  > a {
    color: #0095FF;
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;
  img {
    display: inline-block;
    border-radius: 50%;
  }
}

.btn-primary:visited, .btn-warning:visited, .btn-danger:visited, .btn-success:visited, .btn-info:visited, .btn-inverse:visited {
  color: #FFFFFF;
}

.side-bar-logo{
  height: 50px;
  background-image: asset-url("logoDashboard_white.png");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
}

// Side bar menu
#courses-menu {
  display: none;
  position: relative;
}

#courses-menu li {
    display: block;
}

.courses-menu-option {
  position: relative;
  display: block;
}

.courses-menu-option:hover #courses-menu {
    display: block;
}

.notes-pdf {
  background-color: white;
}
