#error-message {
  color: red;
  font-family: 'Poppins';
}

#success-message {
  color: green;
  font-family: 'Poppins';
}

.poppins-font{
  font-family: 'Poppins';
}

.center-text-elearn{
  font-weight: bold;
  font-family: 'Poppins';
  text-align: center;
  letter-spacing: 0.5px;
}

.left-text-elearn{
  font-weight: bold;
  font-family: 'Poppins';
  text-align: left;
  letter-spacing: 0.5px;
}

.txt12{
  font-size: 12px;
}

.txt16{
  font-size: 16px;
}

.elearn-title {
  color: #0095FF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-size: 40px;
}

.form-group input.btn:hover{
  color:white;

}

p.login-help {
  margin-top: 40px;
  color: #757575;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins';
  text-align: center;
  letter-spacing: 0.5px;
}

p.copyright {
  margin-top: 20px;
  color: #757575;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins';
  text-align: center;
  letter-spacing: 0.5px;
}

a.login-link {
  color: #3C78E7;
}

div.spacing-links{
  margin-top: 40px;
}

span.position-icon{
  right: auto;
  color: #9f9999;
  padding-right: 10px;
}

input.position-holder,
select.position-holder{
  padding-left: 25px;
}


.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
