// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-container.well {
    padding: 24px !important;
    background: white;
    border-radius: 3px;
    border-color: #d4e3e8 !important;
    box-shadow: 0 2px 8px 0 #d4e3e8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.course-details {
    margin-top: 30px;
    color: #ababab;

    > table {
        th {
            width: 1%;
            white-space: nowrap;
        }
        th, td {
            text-align: left;
        }
    }

    a {
        color: #ababab;
    }
}

.borderless td, .borderless th {
    border: none;
}