// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$selectedStrokeColor: #1273E1;

body {
  padding-top: 15px;
}

.section-container {
  margin-top: 20px;
}

.section-title {
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
  text-overflow: ellipsis;
  position: absolute;

}

.section-title-underline {
  margin-top: 30px;
  border-width: 5px !important;
  border-color: #d4e3e8 !important;
}

.axis1 path,
.axis2 path,
.y.axis path {
	fill: none;
}

.elearn-groupedbarchart .y.axis path,
.elearn-groupedbarchart .x.axis path  {
  fill: none !important;
  stroke: none !important;
}

.axis text,
.tick text {
	font-size: 10px !important;
  fill: #ababab !important;
}

.tick line {
  stroke: #d4e3e8 !important;
  stroke-width: 2px;
}

.axisVertical .tick line {
  stroke: none !important;
}

.axisVertical text {
  fill: #000 !important;
}

.axisHorizontal .tick line,
.y.axis .tick line{
  stroke: #d4e3e8;
}

td.kpi-text {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




// Grouped tornado chart
.elearn-multiLevelDonutChart text,
.elearn-groupedTornadoChart text,
.elearn-stackedTornadoChart text {
	font-size: 11px;
}

text.axis-title {
  font-weight: bold;
  fill: #ababab;
  font-size: 10px;
}

.d3-tip-bar {
	font-size: 11px;
}

// Donut chart
g.labels._selected_ {
  opacity: 1.0;
}

g.labels._notSelected_ {
  opacity: 0.5;
}

.external-bar._selected_,
.internal-bar._selected_,
rect.bar._selected_,
rect.right-bar._selected_,
rect.left-bar._selected_,
path._selected_,
.donut-arc._selected_ {
  opacity: 1.0;
  stroke: $selectedStrokeColor !important;
}

.external-bar._notSelected_,
.internal-bar._notSelected_,
rect.bar._notSelected_,
rect.right-bar._notSelected_,
rect.left-bar._notSelected_,
path._notSelected_,
.donut-arc._notSelected_ {
  opacity: 0.5;
}

.external-bar._notSelected_:hover,
.internal-bar._notSelected_:hover,
rect.bar._notSelected_:hover,
rect.right-bar._notSelected_:hover,
rect.left-bar._notSelected_:hover,
path._notSelected_:hover,
.donut-arc._notSelected_:hover {
  opacity: 1;
}

.external-bar:not(._notSelected_):not(._selected_),
.internal-bar:not(._notSelected_):not(._selected_),
rect.bar:not(._notSelected_):not(._selected_),
rect.right-bar:not(._notSelected_):not(._selected_),
rect.left-bar:not(._notSelected_):not(._selected_),
path:not(._notSelected_):not(._selected_),
.donut-arc:not(._notSelected_):not(._selected_) {
  opacity: 1;
}

.external-bar:not(._notSelected_):not(._selected_):hover,
.internal-bar:not(._notSelected_):not(._selected_):hover,
rect.bar:not(._notSelected_):not(._selected_):hover,
rect.right-bar:not(._notSelected_):not(._selected_):hover,
rect.left-bar:not(._notSelected_):not(._selected_):hover,
path:not(._notSelected_):not(._selected_):hover,
.donut-arc:not(._notSelected_):not(._selected_):hover {
  opacity: 1;
  stroke: $selectedStrokeColor !important;
}


// Two group bar chart
.axisHorizontal path,
.axisVertical path,
.invisible-axis path,
.x.axis.invisible-axis .tick line {
  fill: none !important;
  stroke: none !important;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ababab; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }



.toolTipRowChart {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.chart-title{
   text-align: left;
   font-size: 13px;
   font-weight: bolder;
   text-transform: uppercase;
   text-overflow: ellipsis;
   position: absolute;
}

.chart-container.well {
  padding: 24px !important;
  min-height: 320px !important;
  background: white;
  border-radius: 3px;
  border-color: #d4e3e8 !important;
  box-shadow: 0 2px 8px 0 #d4e3e8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.no-data {
  text-align: center;
  margin-top: 100px;
  color: #ababab;
}

.no-data h3{
   font-size: 13px;
   text-transform: uppercase;
   text-overflow: ellipsis;
}

.elearn-chart svg {
  width: 100%;
  margin-top: 60px;
}

#course-time.elearn-chart svg {
  margin-top: 20px;
}

text.kpi-title {
  font-size: 20px;
}

text.kpi {
  font-size: 25px;
  font-weight: bold;
}


.text-kpi{
  font-size: smaller;
}


.legend-item text {
  font-size: 11px;
}


.table.top-kpis td,
.table.top-kpis thead th {
  text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

td .margined-left {
  margin-left: 50px !important;
}

td {
  vertical-align: middle !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

.elearn-kpi {
  margin-bottom: 15px;
  box-shadow: 0 2px 8px 0 #d4e3e8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 600px) {
  text.kpi-title {
    font-size: 20px;
  }

  text.kpi {
    font-size: 40px;
    font-weight: bold;
  }
}
