.well.statistic-container {
  background: white;
  border-radius: 3px;
  border-color: #d4e3e8 !important;
  margin-top: 20px;
}

.well.statistic-container table td {
  padding-left: 20px;
  padding-right: 20px;
}

select {
  border-radius: 3px;
  border-color: #d4e3e8 !important;
}

select > option {
  border-radius: 3px;
}

.well.statistic-container h1 {
  color: #4FC3F7;
}

#goals-container {
  margin-top: 30px;
}
