.note-date,
.note-course {
  color: #ABABAB;
  font-size: 11px;
}

.side-bar-logo{
  height: 50px;
  background-image: url('logoDashboard_white.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
}