.sign-in-form{
  background: white !important ;
  width: 100% !important;
}

.blue-button {
  background: #3573E7;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
}

.logo-form{
  height:100px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: auto 90%;

  background-position: center;
  background-image: asset-url("mosaico_grande_blue.png");
}
