<p>Hello <%= @resource.name.partition(" ").first %>!</p>

<p>You have requested to change your password, you can do this through the link below:</p>

<p><%= link_to 'Go to change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<br>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<br>

<p style="color:#1273E1;"><b>MyNoteProgress Support</b></p>
