<div class="side-bar-logo"></div>

<ul class="nav nav-sidebar" id="main-sidebar">
  <div class="<%= "active" if params[:controller] == "courses" %> sidebar-item courses-menu-option">
    <li class="analytics-click-coursesMenuOpt"><%= link_to courses_path do %><i class="fa fa-bars"></i> <%= I18n.t("sidebar.My courses") %><% end %></li>
    <div id="courses-menu">
      <ul class="nav nav-sidebar sidebar-items-container">
        <% Course.from_user(current_user).each do |course| %>
        <li class="sidebar-item analytics-click-coursesMenuOpt">
          <%= link_to course_engagement_performance_path(course.id) do %><i class="fa fa-book"></i> <%= truncate(course.full_name, length: 40, separator: ' ') %><% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <li class="<%= "active" if params[:controller] == "notes" %> sidebar-item analytics-click-notesMenuOpt"><%= link_to notes_path do %><i class="fa fa-sticky-note" aria-hidden="true"></i> <%= I18n.t("sidebar.My notes") %> <% end %></li>
  <li class="<%= "active" if params[:controller] == "goals" %> sidebar-item analytics-click-goalsMenuOpt"><%= link_to goals_path do %><i class="fa fa-dot-circle-o" aria-hidden="true"></i> <%= I18n.t("sidebar.My goals") %><% end %></li>
</ul>
