<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "MyNoteProgress" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chrome Extension Dashboard Api" %>">
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>

<body>
  <%= render 'layouts/messages' %>

  <% if user_signed_in? %>
  <%= render 'layouts/navigation' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
  <% else %>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <% end %>
</body>
</html>
